<h1>Index page for lists</h1>
<h2>Here are your lists:</h2>
	<% if @lists.empty? %>
	<p>Lists are not created yet!!!</p>
	<% else %>
	<% @lists.each do |list| %>
		<ul>
			<li><%= list.name %></li>
		</ul>
	<% end %>
	<% end %>
