.link-button {
  padding: 8px 24px;
  background-color: #a23f3c;
  color: #eaeaea;
  border-radius: 3px;
}

.delete-button {
  padding: 8px 24px;
  background-color: #726e62;
  color: #eaeaea;
  text-decoration: none;
  border-radius: 3px;
}
